[Unit]
Description=Arquivo crawler
After=network.target multi-user.target

[Service]
Type=simple
EnvironmentFile=/etc/default/scribe-news-embeddings-processor
ExecStart=/opt/ScribeRef/scribe-news-embeddings-processor/run.sh
User=arquivo
SyslogIdentifier=ScribeNewsCrawler
Restart=always

[Install]
WantedBy=multi-user.target
